body{
    background-color: rgb(237, 165, 177);
    margin: 0;
    padding: 0;
    /* height: 5vh; */
    align-content: center;
    
    
    
    

}
.piano{
    padding-top: 10%;
    display: flex;
    -ms-flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

   
.white{
    
    align-items: center;
    background-color: white;
    border: 1px solid black;
    height: 17rem;
    width: 5rem;
    gap: 0;
}
.black{
    align-self: self-start;
    background-color: black;
    height: 8rem;
    width: 2rem ;
    margin-left: -1rem;
    margin-right: -1rem;
    z-index: 2;


}
.white.active {
    background: linear-gradient(
      0deg,
      #eabbcb,
      #ebdee4,
      #f5f3f3,
      #f8f8fa
    );
  }
